<div class="marcas-slider mt-5">
    <div class="swiper marcasSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://picsum.photos/600/400?random=1" alt="Marca 1" class="img-fluid">
        </div>
        <div class="swiper-slide">
          <img src="https://picsum.photos/600/400?random=2" alt="Marca 2" class="img-fluid">
        </div>
        <div class="swiper-slide">
          <img src="https://picsum.photos/600/400?random=3" alt="Marca 2" class="img-fluid">
        </div>
        <div class="swiper-slide">
          <img src="https://picsum.photos/600/400?random=4" alt="Marca 2" class="img-fluid">
        </div>
        <div class="swiper-slide">
          <img src="https://picsum.photos/600/400?random=5" alt="Marca 2" class="img-fluid">
        </div>
        <div class="swiper-slide">
          <img src="https://picsum.photos/600/400?random=6" alt="Marca 2" class="img-fluid">
        </div>
        <div class="swiper-slide">
          <img src="https://picsum.photos/600/400?random=7" alt="Marca 2" class="img-fluid">
        </div>
        <div class="swiper-slide">
          <img src="https://picsum.photos/600/400?random=8" alt="Marca 2" class="img-fluid">
        </div>
        <!-- más marcas aquí -->
      </div>
    </div>
  </div>
  