<section id="testimonial" class="testimonial text-center">
  <div class="container">
    <div class="heading white-heading">Reseñas</div>
    <div class="swiper" #swiperContainer>
      <div class="swiper-wrapper">
        <!-- Card 1 -->
        <div class="swiper-slide">
          <div class="testimonial4_slide">
            <img src="https://i.pravatar.cc/300?img=12" class="img-circle img-responsive" />
            <h4>Opinión de Borja Navarro</h4>
            <p>
              He alquilado en 2 ocasiones un vehículo. Genial las 2 veces, magnifico estado del vehiculo, transparencia en las condiciones y precios muy competitivos. Ayer alquilé un vehículo a través de mutua, y fue perfecto todo.
            </p>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="swiper-slide">
          <div class="testimonial4_slide">
            <img src="https://i.pravatar.cc/300?img=27" class="img-circle img-responsive" />
            <h4>Opinión de Andrea Aparicio</h4>
            <p>
              Personal servicial en la agencia con habilidades y comportamiento profesional impecable. Nos ofrecieron todas las herramientas y consejos que necesitábamos. Quedamos completamente satisfechos y agradecidos, ¡gracias!
            </p>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="swiper-slide">
          <div class="testimonial4_slide">
            <img src="https://i.pravatar.cc/300?img=13" class="img-circle img-responsive" />
            <h4>Opinión de David Zambrano</h4>
            <p>
              Muy buen precio, parecido a otras con malas opiniones publicadas y que se consideran baratas. En mi caso vehículo muy nuevo, con todos los extras, incluido navegador. La atención por parte del personal no pudo ser más rápida y eficiente.
            </p>
          </div>
        </div>

        <!-- Más Cards si es necesario... -->
      </div>

      <!-- Controles -->
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
