<div class="home-container" #scrollContainer>
  <!-- Bloque de imágenes fijas (slider) -->
  <div class="hero-images">
    <section id="slider">
      <app-slider />
    </section>
  </div>

  <!-- Contenido principal desplazable -->
  <div class="content">
    <section id="sobrenosotros" class="seccion">
      <app-nosotros />
    </section>
    <section id="marcas">
      <app-marcas />
    </section>
    <section id="proyectos">
      <app-slider-trabajos />
    </section>
  </div>
  <footer class="footer">
    <p>&copy;<a href="mailto:mhaskimr@gmail.com">MHH</a></p>
  </footer>
</div>

<!-------------------------------------------------PC------------------------------------------->
<!-- Cabecera contacto pc -->
<div id="ContactInformation">
  <a class="contact contactFixedPhone" href="tel:965053399">
    <fa-icon [icon]="iconoTelefono" class="icono-blanco"></fa-icon>
    <span>965053399</span></a
  >
  <a class="contact contactMovilePhone" href="tel:667660544">
    <fa-icon [icon]="iconoMovil" class="icono-blanco"></fa-icon>
    <span>664 777 366</span></a
  >
  <a
    class="contact contactWhatsapp"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=34686601702"
  >
    <fa-icon [icon]="iconoWhatsapp" class="icono-blanco"></fa-icon>
    <span class="hidden-xs contact">688 888 888</span>
  </a>
  <a class="contact contactEmail" href="mailto:info@rpinto.es">
    <fa-icon [icon]="iconoCorreo" class="icono-blanco"></fa-icon
    ><span class="contact email">info&#64;rpinto.es</span>
  </a>
</div>

<nav class="navbar d-none d-md-flex">
  <ul class="list-unstyled d-flex m-0">
    <li>
      <a
        href="javascript:void(0)"
        (click)="scrollToSection('slider')"
        [class.active]="activeSection === 'slider'"
        >Inicio</a
      >
    </li>
    <li>
      <a
        href="javascript:void(0)"
        (click)="scrollToSection('sobrenosotros')"
        [class.active]="activeSection === 'sobrenosotros'"
        >Sobre nosotros</a
      >
    </li>
    <li>
      <a
        href="javascript:void(0)"
        (click)="scrollToSection('proyectos')"
        [class.active]="activeSection === 'proyectos'"
        >Nuestros servicios</a
      >
    </li>
    <li>
      <a
        href="javascript:void(0)"
        (click)="scrollToSection('marcas')"
        [class.active]="activeSection === 'marcas'"
        >Nuestras Marcas</a
      >
    </li>
  </ul>
</nav>
<!-------------------------------------------------PC------------------------------------------->
<!-------------------------------------------------MOVIL------------------------------------------->
<!-- Botón hamburguesa solo en móvil -->
<header
  class="header d-flex justify-content-around align-items-center px-3 py-2"
>
  <button class="burger-btn" (click)="isMenuOpen = !isMenuOpen">☰</button>
  <a [routerLink]="[]" fragment="slider" class="logo-link d-inline-block">
    <img src="assets/logo.png" alt="Logo RPinto" class="logo-img" />
  </a>
  <button class="contact-toggle-btn d-md-none" (click)="toggleContactoInfo()">
    <fa-icon [icon]="iconoTelefono"></fa-icon>
  </button>
</header>

<!--Menu contacto movil -->

<!-- Backdrop -->
<div
  class="contact-backdrop"
  *ngIf="isContactoInfoVisible"
  (click)="isContactoInfoVisible = false"
></div>

@if (isContactoInfoVisible) {
<div
  #popupContacto
  class="contact-popup"
  [class.oppenned]="isContactoInfoVisible"
  (clickOutside)="onClickedOutsideContacto($event)"
>
  <a class="contact" href="tel:965053399">
    <fa-icon [icon]="iconoTelefono"></fa-icon><span> 965 053 399</span>
  </a>
  <a class="contact" href="tel:664 777 366">
    <fa-icon [icon]="iconoMovil"></fa-icon><span> 664 777 366</span>
  </a>
  <a class="contact" href="mailto:info@rpinto.es">
    <fa-icon [icon]="iconoCorreo"></fa-icon><span> info&#64;rpinto.es</span>
  </a>
  <a
    class="contact"
    href="https://maps.app.goo.gl/1xYjgnQLBUogsJEj7"
    target="_blank"
  >
    <fa-icon [icon]="faDirections"></fa-icon>
    <span> Benidorm, Avenida Emilio Ortuño</span>
  </a>
</div>
}

<!-- Botón hamburguesa -->
<button
  class="c-hamburger c-hamburger--htx"
  (click)="toggleMenu()"
  [class.is-active]="isMenuOpen"
></button>

<!-- Drawer nav -->
<!-- Backdrop -->
<div
  class="drawer-backdrop"
  *ngIf="isMenuOpen"
  (click)="closeMenu()"
></div>

<!-- Drawer nav -->
<nav #drawer class="sub-menu" [class.oppenned]="isMenuOpen">
  <ul class="nav-links">
    <li>
      <a href="javascript:void(0)" (click)="scrollToSection('slider')" [class.active]="activeSection === 'slider'">Inicio</a>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="scrollToSection('sobrenosotros')" [class.active]="activeSection === 'sobrenosotros'">Sobre nosotros</a>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="scrollToSection('proyectos')" [class.active]="activeSection === 'proyectos'">Proyectos</a>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="scrollToSection('marcas')" [class.active]="activeSection === 'marcas'">Nuestras Marcas</a>
    </li>
  </ul>

  <!-- Footer social icons -->
  <div class="drawer-footer">
    <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
      <fa-icon [icon]="iconoInstragram"></fa-icon>
    </a>
    <a href="https://facebook.com/" target="_blank" aria-label="Facebook">
      <fa-icon [icon]="iconoFacebook"></fa-icon>
    </a>
    <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
      <fa-icon [icon]="iconotuiter"></fa-icon>
    </a>
  </div>
</nav>
<!-------------------------------------------------MOVIL------------------------------------------->
