@use "../../../styles.variables.scss" as vars;

.slider-fullscreen {
  height: 100vh;
  .swiper {
    height: 100%;

    .swiper-wrapper,
    .swiper-slide {
      height: 100%;
    }

    .swiper-slide {
      background-size: cover;
      background-position: top;
      position: relative;

      .slider-text {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        background-color: rgba(vars.$color-r, 0.5);
        padding: 0.2rem;
        border-radius: 10px;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
  /*.swiper-pagination {
      margin-bottom: 150px;
    }*/
}
