<section id="slider" class="slider-fullscreen">
  <div class="swiper" #swiperContainer>
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        style="background-image: url('assets/slider/aire.jpeg')"
      >
        <div class="slider-text" data-aos="fade-right">
          <h1>Aire Acondicionado</h1>
          <p>Acaba con el calor en casa, contacta ya</p>
        </div>
      </div>
      <div
        class="swiper-slide"
        style="background-image: url('assets/slider/sala.jpg')"
      >
        <div class="slider-text" data-aos="fade-left">
          <h1>Innovación y calidad</h1>
          <p>Más de 20 años transformando espacios</p>
        </div>
      </div>
      <div
        class="swiper-slide"
        style="background-image: url('assets/slider/aseo.avif')"
      >
        <div class="slider-text" data-aos="fade-right">
          <h1>Confianza y compromiso</h1>
          <p>Tu proyecto, nuestra prioridad</p>
        </div>
      </div>
    </div>
  <!--<div class="swiper-pagination"></div>-->
  </div>
</section>
