<header class="header">
  <div class="logo fw-bold fs-4">MiLogo</div>
</header>

<nav class="navbar">
  <a
    [routerLink]="[]"
    fragment="inicio"
    [class.active]="activeSection === 'inicio'"
    >Inicio</a
  >
  <a
    [routerLink]="[]"
    fragment="sobremi"
    [class.active]="activeSection === 'sobremi'"
    >Sobre mí</a
  >
  <a
    [routerLink]="[]"
    fragment="proyectos"
    [class.active]="activeSection === 'proyectos'"
    >Proyectos</a
  >
  <a
    [routerLink]="[]"
    fragment="contacto"
    [class.active]="activeSection === 'contacto'"
    >Contacto</a
  >
</nav>

<main>
  <section id="inicio" class="seccion container-fluid">
    <h2>Inicio</h2>
    <p>Bienvenido a mi web.</p>
  </section>

  <section id="sobremi" class="seccion container-fluid">
    <h2>Sobre mí</h2>
    <p>Esta es la sección sobre mí.</p>
  </section>

  <section id="proyectos" class="seccion container-fluid">
    <h2>Proyectos</h2>
    <p>Aquí están algunos de mis proyectos.</p>
  </section>

  <section id="contacto" class="seccion container-fluid">
    <h2>Contacto</h2>
    <p>Puedes contactarme aquí.</p>
  </section>
</main>

<footer class="footer">
  <p>&copy; 2025 MiNombre</p>
</footer>
