<header
  class="header d-flex justify-content-around align-items-center px-3 py-2"
>
  <!-- Botón hamburguesa solo en móvil -->
  <button class="burger-btn" (click)="isMenuOpen = !isMenuOpen">☰</button>
  <a [routerLink]="[]" fragment="slider" class="logo-link d-inline-block">
    <img src="assets/logo.png" alt="Logo RPinto" class="logo-img" />
  </a>
</header>

<!-- Botón hamburguesa -->
<button class="c-hamburger c-hamburger--htx" 
(click)="toggleMenu()" 
[class.is-active]="isMenuOpen">
</button>

<!-- Drawer nav -->
<nav class="sub-menu" [class.oppenned]="isMenuOpen">
  <ul class="list-unstyled">
    <li><a [routerLink]="[]" fragment="slider" (click)="closeMenu()" [class.active]="activeSection === 'slider'">Inicio</a></li>
    <li><a [routerLink]="[]" fragment="sobrenosotros" (click)="closeMenu()" [class.active]="activeSection === 'sobrenosotros'">Sobre nosotros</a></li>
    <li><a [routerLink]="[]" fragment="proyectos" (click)="closeMenu()" [class.active]="activeSection === 'proyectos'">Proyectos</a></li>
    <li><a [routerLink]="[]" fragment="contacto" (click)="closeMenu()" [class.active]="activeSection === 'contacto'">Contacto</a></li>
  </ul>
</nav>

<nav class="navbar d-none d-md-flex">
  <ul class="list-unstyled d-flex m-0">
    <li><a [routerLink]="[]" fragment="slider" [class.active]="activeSection === 'slider'">Inicio</a></li>
    <li><a [routerLink]="[]" fragment="sobrenosotros" [class.active]="activeSection === 'sobrenosotros'">Sobre nosotros</a></li>
    <li><a [routerLink]="[]" fragment="proyectos" [class.active]="activeSection === 'proyectos'">Nuestros servicios</a></li>
    <li><a [routerLink]="[]" fragment="contacto" [class.active]="activeSection === 'contacto'">Contacto</a></li>
  </ul>
</nav>

<main>
  <section id="slider" class="seccion-slider container-fluid">
    <app-slider/>
  </section>

  <section id="sobrenosotros" class="seccion container-fluid">
    <h2>Sobre nosotros</h2>
    <p>Esta es la sección sobre nosotros.</p>
  </section>

  <section id="proyectos" class="seccion container-fluid">
    <h2>Proyectos</h2>
    <p>Aquí están algunos de mis proyectos.</p>
  </section>

  <section id="contacto" class="seccion container-fluid">
    <h2>Contacto</h2>
    <p>Puedes contactarme aquí.</p>
  </section>
</main>

<footer class="footer">
  <p>&copy; Made by <a href="mailto:mhaskimr@gmail.com">MHH</a> &#64;2025</p>
</footer>
