<section id="sobrenosotros" class="seccion container">
    <h2 class="text-center mb-5">Sobre nosotros</h2>
  
    <!-- Primera fila -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6" data-aos="fade-right">
        <img src="https://picsum.photos/600/400?random=1" alt="Sobre nosotros 1" class="img-fluid">
      </div>
      <div class="col-md-6" data-aos="fade-left">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ipsa magni sint aut magnam, libero reiciendis nobis. Excepturi perspiciatis saepe ut nisi repellat ipsum iusto debitis id aliquam minima commodi, earum doloremque error nam corporis molestias necessitatibus quae adipisci. Blanditiis, quae amet fuga vel quibusdam velit quidem consectetur tempora dolore.</p>
      </div>
    </div>
  
    <!-- Segunda fila -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6 order-md-2" data-aos="fade-left">
        <img src="https://picsum.photos/600/400?random=2" alt="Sobre nosotros 2" class="img-fluid">
      </div>
      <div class="col-md-6 order-md-1" data-aos="fade-right">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ipsa magni sint aut magnam, libero reiciendis nobis. Excepturi perspiciatis saepe ut nisi repellat ipsum iusto debitis id aliquam minima commodi, earum doloremque error nam corporis molestias necessitatibus quae adipisci. Blanditiis, quae amet fuga vel quibusdam velit quidem consectetur tempora dolore.</p>
      </div>
    </div>
  
    <!-- Tercera fila -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6" data-aos="fade-right">
        <img src="https://picsum.photos/600/400?random=3" alt="Sobre nosotros 3" class="img-fluid">
      </div>
      <div class="col-md-6" data-aos="fade-left">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ipsa magni sint aut magnam, libero reiciendis nobis. Excepturi perspiciatis saepe ut nisi repellat ipsum iusto debitis id aliquam minima commodi, earum doloremque error nam corporis molestias necessitatibus quae adipisci. Blanditiis, quae amet fuga vel quibusdam velit quidem consectetur tempora dolore.</p>
      </div>
    </div>
  
    <!-- Cuarta fila -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6 order-md-2" data-aos="fade-left">
        <img src="https://picsum.photos/600/400?random=4" alt="Sobre nosotros 4" class="img-fluid">
      </div>
      <div class="col-md-6 order-md-1" data-aos="fade-right">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ipsa magni sint aut magnam, libero reiciendis nobis. Excepturi perspiciatis saepe ut nisi repellat ipsum iusto debitis id aliquam minima commodi, earum doloremque error nam corporis molestias necessitatibus quae adipisci. Blanditiis, quae amet fuga vel quibusdam velit quidem consectetur tempora dolore.</p>
      </div>
    </div>
    <app-marcas/>
  </section>
  