// ================= VARIABLES =================
$header-height: 120px;
$nav-height: 56px;
$combined-height: $header-height + $nav-height;
$color-r: #009ce1;
$color-pinto: #e3071f;
$color-light-bg: #f8f9fa;
$color-dark-text: #333;