/* You can add global styles to this file, and also import other style files */
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@use 'swiper/css/effect-fade';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
