// ================= VARIABLES =================
$contact-height: 50px;
$header-height: 100px;
$nav-height: 56px;
$combined-height: $contact-height + $header-height;
$color-r: #009ce1;
$color-pinto: #e3071f;
$color-light-bg: #f8f9fa;
$color-dark-text: #333;